<div class="seed">
    <div class="seed-img">

    </div>

    <div class="seed-info">
        <div class="seed-name">
            <h4>Name: </h4>
            <p><%= item.name %></p>
        </div>

        <div class="seed-price">
            <h4>Price: </h4>
            <p><%= item.price_per_kilo %></p>
        </div>

        <div class="seed-kilos">
            <h4>Total kilos available: </h4>
            <p><%= item.quantity %></p>
        </div>

        <div class="seed-farmer-name">
            <h4>Farmer Name: </h4>
            <p><%= Farmer.find(item.farmer_id).name %></p>
        </div>

        <div id="seed-add0" class="seed-add">
            <button class="seed-add-btn">Add to cart</button>
        </div>

        <%= form_with url: cart_item_index_path, id: "seed-add-form0", class: "seed-add-form" do |form| %>
            <%= form.hidden_field :itemid, value: item.id %>
            <%= form.hidden_field :buyerid, value: @current_user_id %>
            <%= form.number_field :quantity, placeholder: "Quantity" %>
            <%= form.submit "Add" %>
        <% end %>
    </div>
</div>