<div class="fruit">
    <div class="fruit-img">

    </div>

    <div class="fruit-info">
        <div class="fruit-name">
            <h4>Name: </h4>
            <p><%= item.name %></p>
        </div>

        <div class="fruit-price">
            <h4>Price: </h4>
            <p><%= item.price_per_kilo %></p>
        </div>

        <div class="fruit-kilos">
            <h4>Total kilos available: </h4>
            <p><%= item.quantity %></p>
        </div>

        <div class="fruit-farmer-name">
            <h4>Farmer Name: </h4>
            <p><%= Farmer.find(item.farmer_id).name %></p>
        </div>

        <div id="fruit-add0" class="fruit-add">
            <button class="fruit-add-btn">Add to cart</button>
        </div>

        <%= form_with url: cart_item_index_path, id: "fruit-add-form0", class: "fruit-add-form" do |form| %>
            <%= form.hidden_field :itemid, value: item.id %>
            <%= form.hidden_field :buyerid, value: @current_user_id %>
            <%= form.number_field :quantity, placeholder: "Quantity" %>
            <%= form.submit "Add" %>
        <% end %>
    </div>
</div>