<div class="item">
    <div class="item-img">

    </div>

    <div class="item-info">
        <div class="item-name">
            <h4>Name: </h4>
            <p><%= Item.find(item.item_id).name %></p>
        </div>

        <div class="item-price">
            <h4>Price: </h4>
            <p><%= Item.find(item.item_id).price_per_kilo %></p>
        </div>

        <div class="item-kilos">
            <h4>Kilos purchased: </h4>
            <p><%= item.quantity %></p>
        </div>

        <div class="item-farmer-name">
            <h4>Farmer Name: </h4>
            <p><%= Buyer.find(item.buyer_id).name %></p>
        </div>

        <%= form_with url: cart_item_index_path, id: "seed-add-form0", class: "seed-add-form" do |form| %>
            <%= form.hidden_field :itemid, value: item.id %>
            <%= form.hidden_field :buyerid, value: @current_user_id %>
            <%= form.number_field :quantity, placeholder: "Quantity" %>
            <%= form.submit "Add" %>
        <% end %>

        <div class="remove-item">
            <button class="item-remove-btn">Remove</button>
        </div>
    </div>
</div>