<div class="buy-seeds">
    <div class="search-container">
      <h2>Seeds</h2>
      <%= form_with url: "/buy_seeds/search" do |form| %>
        <%= form.hidden_field :itemtype, value: "Seed" %>
        <%= form.text_field :item_name, placeholder: "Seed name" %>
        <%= form.text_field :farmer_name, placeholder: "Farmer name" %>
        <%= form.submit "Search" %>
      <% end %>
    </div>

    <div class="seed-result-container">
      <h3>Search Results</h3>
      <div class="seed-result">

        <% for item in @items %>
          <%= render partial: "buy_seed", locals: {
            item: item
          } %>
        <% end %>

      </div>
    </div>
</div>

<script src="buy.js"></script>