<div class="buy-vegetables">
    <div class="search-container">
      <h2>Vegetables</h2>
      <%= form_with url: "/buy_vegetables/search" do |form| %>
        <%= form.hidden_field :itemtype, value: "Vegetable" %>
        <%= form.text_field :item_name, placeholder: "Vegetable name" %>
        <%= form.text_field :farmer_name, placeholder: "Farmer name" %>
        <%= form.submit "Search" %>
      <% end %>
    </div>

    <div class="vegetable-result-container">
      <h3>Search Results</h3>
      <div class="vegetable-result">
        <% for item in @items %>
          <%= render partial: "buy_vegetable", locals: {
            item: item
          } %>
        <% end %>
      </div>
    </div>
</div>