<div class="buy-fruits">
    <div class="search-container">
      <h2>Fruits</h2>
      <%= form_with url: "/buy_fruits/search" do |form| %>
        <%= form.hidden_field :itemtype, value: "Fruit" %>
        <%= form.text_field :item_name, placeholder: "Fruit name" %>
        <%= form.text_field :farmer_name, placeholder: "Farmer name" %>
        <%= form.submit "Search" %>
      <% end %>
    </div>

    <div class="fruit-result-container">
      <h3>Search Results</h3>
      <div class="fruit-result">
        <% for item in @items %>
          <%= render partial: "buy_fruit", locals: {
            item: item
          } %>
        <% end %>
      </div>
    </div>
</div>

<script src="buy.js"></script>