<div class = "home">
  <div class = "first-section" id = "first-section">
    <div class = "inside-first-section">
      <div class = "up-section">
        <div class = "navbar">
          <div class = "logo-img">
            <%= image_tag "image.png" %>
          </div>

          <div class = "navbar-links">
            <a href = "#"> Home </a>
            <%= link_to "Buy Vegetables", vegetable_buy_path %>
            <%= link_to "Buy Fruits", fruits_buy_path %>
            <%= link_to "Buy Seeds", seeds_buy_path %>
            <% if @current_user != nil %>
              <%= link_to "Log out", destroy_session_path, :method => :delete %>
            <% end %>
          </div>
        </div>
      </div>
      <div class = "down-section">
        <div class = "information">
          <div>
            <div>
              <p> We bring nature to you </p>
            </div>
            <div class = "signup-signin-btn">
              <%= link_to "Sign up or sign in as farmer", signup_signin_farmer_path %> <br/>
              <%= link_to "Sign up or sign in as buyer", signup_signin_buyer_path %>
            </div>
          </div>
        </div>

        <div class = "images">
      </div>

      </div>
    </div>
  </div>

  <div class = "process">
    <h2> How this works </h2>
    <div class = "main-process">
      <div class = "step">
        <div class = "step-image">
          <%= image_tag "step-one.jpg" %>
        </div>

        <div class = "step-desc">
          <p> Farmers create their profile and post products that they want to sell. </p>
        </div>
      </div>
      
      <div class = "step">
        <div class = "step-desc">
          <p> Buyers create their profile and place orders for products that they want to buy. </p>
        </div>
        
        <div class = "step-image">
          <%= image_tag "step-two.png" %>
        </div>
      </div>
      
      <div class = "step">
        <div class = "step-image">
          <%= image_tag "step-three.jpg" %>
        </div>

        <div class = "step-desc">
          <p> Our delivery team collect products from farmers and delivers them to respective buyers.
           </p>
        </div>
      </div>
    </div>
  </div>

  <div class = "get-started">
    <%= link_to "Get Started", "#firstsection" %>
  </div>

  <div class = "footer">

  </div>
</div>