<div class="farmer-dashboard">
  <div class = "navbar">
    <div class = "logo-img">
      <%= image_tag "image.png" %>
    </div>

    <div class = "navbar-links">
      <a href = "#"> Home </a>
      <a href = "#"> Buy Vegetables </a>
      <a href = "#"> Buy Fruits </a>
      <a href = "#"> Buy Seeds </a>
    </div>
  </div>
    <div class="farmer-info">
      <div class="name">
        <h2><%= @farmer.name %></h2>
      </div>
    </div>

    <div class="items-container">
      <% if @vegetableCount + @fruitCount + @seedCount == 0 %>
        <div class="no-items">
          <img src="items.png" />
          <p>No items available</p>
        </div>
      <% else %>
        <% if @vegetableCount > 0 %>
          <%= render partial: "items", locals: {
            heading: "Vegetable",
            items: @vegetables
          } %>
        <% end %>

        <% if @fruitCount > 0 %>
          <%= render partial: "items", locals: {
            heading: "Fruit",
            items: @fruits
          } %>
        <% end %>

        <% if @seedCount > 0 %>
          <%= render partial: "items", locals: {
            heading: "Seed",
            items: @seeds
          } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>